<a href="https://colab.research.google.com/github/prishanmu/Music_Recommender/blob/master/Spotify_Music_Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Statements

In [0]:
import pandas as pd
import numpy as np

# Import & Process Data

source: https://www.kaggle.com/yamaerenay/spotify-dataset-19212020-160k-tracks

In [3]:
df = pd.read_csv('data.csv')
df.drop(columns = ['Unnamed: 0', 'duration_ms', 'key', 'mode', 'year', 'popularity'], inplace=True)
df.head()

   acousticness  ... valence
0         0.732  ...  0.9630
1         0.982  ...  0.0594
2         0.996  ...  0.4060
3         0.982  ...  0.0594
4         0.957  ...  0.2530

[5 rows x 14 columns]

In [4]:
df_artist = pd.read_csv('data_w_genres.csv')
df_artist.drop(columns = ['Unnamed: 0', 'duration_ms', 'key', 'mode', 'count', 'popularity'], inplace = True)
df_artist.head()

                   artists  ...                                             genres
0         Francisco Canaro  ...                         ['tango', 'vintage tango']
1          Frédéric Chopin  ...  ['classical', 'early romantic era', 'polish cl...
2     Ludwig van Beethoven  ...  ['classical', 'classical era', 'early romantic...
3  Wolfgang Amadeus Mozart  ...                     ['classical', 'classical era']
4    Johann Sebastian Bach  ...  ['baroque', 'classical', 'early music', 'germa...

[5 rows x 11 columns]

In [5]:
# normalize columns
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df_no_artist_no_genre = pd.DataFrame(scaler.fit_transform(df_artist[['acousticness', 'danceability', 'energy', 'instrumentalness', 'liveness', 'loudness', 'speechiness', 'tempo', 'valence']]))

artist_genre = df_artist[['artists', 'genres']]

df_artists = pd.merge(df_no_artist_no_genre, artist_genre, left_index=True, right_index=True)
df_artists.columns = ['acousticness', 'danceability', 'energy', 'instrumentalness', 'liveness', 'loudness', 'speechiness', 'tempo', 'valence', 'artists', 'genres']
df_artists.head()

   acousticness  ...                                             genres
0      0.987268  ...                         ['tango', 'vintage tango']
1      0.994186  ...  ['classical', 'early romantic era', 'polish cl...
2      0.959094  ...  ['classical', 'classical era', 'early romantic...
3      0.966190  ...                     ['classical', 'classical era']
4      0.962495  ...  ['baroque', 'classical', 'early music', 'germa...

[5 rows x 11 columns]

# GOAL: get a list of similar artists, with genre specified

source: https://www.kaggle.com/florianheiny/spotify-artist-recommendation/notebook

In [0]:
def similar_artist(df, artist): 

  # similarity matrix

  df['similarity'] = np.linalg.norm(df[['acousticness', 'danceability', 'energy', 'instrumentalness', 'liveness', 'loudness', 'speechiness', 'tempo', 'valence']] - df[df['artists'] == artist][['acousticness', 'danceability', 'energy', 'instrumentalness','liveness', 'loudness', 'speechiness', 'tempo', 'valence']].to_numpy(), axis=1)
  df = df.sort_values('similarity')
  df['similarity'] = 1- df['similarity'] / df['similarity'].max()

  similar_artist_list = list(zip(df['artists'].to_numpy()[1:], df['similarity'].to_numpy()[1:]))

  return similar_artist_list

In [0]:
def artist_rec(df, artist_rating_matrix, genre): 
    # filter out by genre

  for line in df.values.tolist():
    df_genre = []
    lst = line[10]
    if genre in lst:
      df_genre.append(line)
  df_genre = pd.DataFrame(df_genre)

    # similar artist dictionary

  dict_similar = {}
  for artist, weight in artist_rating_matrix.items():
        dict_similar[artist] = similar_artist(artist)
  artists_all = []
  for artist, similar_artists in dict_similar.items():
    artists_all.append(list(similar_artists.keys()))
    artists_unique = np.unique(artists_all).tolist()
    artists_dict = {artist: 0 for artist in artists_unique}
  for artist, similar_artists in dict_similar.items():
    for similar_artist, score in similar_artists.items():
      artists_dict[similar_artist] += artists[artist] * score

  return list({k: v for k, v in sorted(artists_dict.items(), key=lambda item: item[1], reverse=True) if k not in artists}.keys())[0:num]

In [12]:
#test

artist_dict = {'Kehlani': 8, 'Lady Gaga': 5}

artist_rec(df = df_artist, artist_rating_matrix = artist_dict, genre = 'pop')

TypeError: ignored