<a href="https://colab.research.google.com/github/prishanmu/Music_Recommender/blob/master/Spotify_Music_Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# import statements
import pandas as pd
import numpy as np

In [26]:
# import data
# source: https://www.kaggle.com/yamaerenay/spotify-dataset-19212020-160k-tracks

df = pd.read_csv('data.csv')
df.drop(columns = ['Unnamed: 0', 'duration_ms', 'key', 'mode', 'year', 'popularity'], inplace=True)
df.head()

   acousticness  ... valence
0         0.732  ...  0.9630
1         0.982  ...  0.0594
2         0.996  ...  0.4060
3         0.982  ...  0.0594
4         0.957  ...  0.2530

[5 rows x 15 columns]

In [27]:
# import more data

df_artist = pd.read_csv('data_w_genres.csv')
df_artist.drop(columns = ['Unnamed: 0', 'duration_ms', 'key', 'mode', 'count', 'popularity'], inplace = True)
df_artist.head()

                   artists  ...                                             genres
0         Francisco Canaro  ...                         ['tango', 'vintage tango']
1          Frédéric Chopin  ...  ['classical', 'early romantic era', 'polish cl...
2     Ludwig van Beethoven  ...  ['classical', 'classical era', 'early romantic...
3  Wolfgang Amadeus Mozart  ...                     ['classical', 'classical era']
4    Johann Sebastian Bach  ...  ['baroque', 'classical', 'early music', 'germa...

[5 rows x 12 columns]

In [33]:
# normalize columns
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df_no_artist_no_genre = pd.DataFrame(scaler.fit_transform(df_artist[['acousticness', 'danceability', 'energy', 'instrumentalness', 'liveness', 'loudness', 'speechiness', 'tempo', 'valence']]))

artist_genre = df_artist[['artists', 'genres']]

df_artists = pd.merge(df_no_artist_no_genre, artist_genre, left_index=True, right_index=True)
df_artists.columns = ['acousticness', 'danceability', 'energy', 'instrumentalness', 'liveness', 'loudness', 'speechiness', 'tempo', 'valence', 'artists', 'genres']
df_artists.head()

   acousticness  ...                                             genres
0      0.987020  ...                         ['tango', 'vintage tango']
1      0.993936  ...  ['classical', 'early romantic era', 'polish cl...
2      0.958854  ...  ['classical', 'classical era', 'early romantic...
3      0.965948  ...                     ['classical', 'classical era']
4      0.962254  ...  ['baroque', 'classical', 'early music', 'germa...

[5 rows x 12 columns]

In [0]:
# get similar [multiple] artists, with genre specified
# source: https://www.kaggle.com/florianheiny/spotify-artist-recommendation/notebook
# source: 

def artist_rec(df, artist_rate_dict, genre, num =10): 
  # filter out by genre

  for line in df.values.tolist():
    df_genre = []
    lst = line[11]
    if genre in lst:
      df_genre.append(line)
  df_genre = pd.DataFrame(df_genre)

  # similarity matrix

  #df_genre['similarity'] = np.linalg.norm(df_genre[['acousticness', 'danceability', 'energy', 'instrumentalness', 'liveness', 'loudness', 'speechiness', 'tempo', 'valence']] - df_genre[df_genre['artists'] == artist][['acousticness', 'danceability', 'energy', 'instrumentalness','liveness', 'loudness', 'speechiness', 'tempo', 'valence']].to_numpy(), axis=1)
  #df_genre = df_genre.sort_values('similarity')



  # return top 10 similar artists

In [0]:
#test

artist_dict = {''}

artist_rec(df = df_artist, artist_rate_dict = artist_dict, genre = 'pop')